/**
All styles for header only
 */

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

div.navbar {
    min-height: 44px;
    border: none;
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-default {
    background-color: #fff !important;
    border-color: #8c8c8c;
    padding-bottom:10px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-logo,
.navbar-logo-search {
    display: block;
    width: 46.93vw;
    min-height: 44px;
    line-height: 44px;
    vertical-align: middle;
    margin: 0 auto;
}

/**
 * Toggle button
 **/
.navbar-default .navbar-toggle {
    float: left;
    width: 7.45vw;
    padding: 17px 0 12px 3.46vw;
    margin: 0;
    border-radius: 0;
    border: none;
    display: block;

}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff !important;
}

.navbar-default .navbar-toggle img {
    margin-top: -4px;
    max-width: 20px;
    height: auto;
}

/**
 * Nav logo
 **/
.navbar-logo > img,
.navbar-logo-search > img,
.navbar-search img,
.navbar-cart img,
.navbar-favorites img {
    display: inline-block;
}

/**
 * Nav search icon
 **/
.navbar-search {
    position: relative;
    display: block;
    float: right;
    width: 10.13vw;
    min-height: 44px;
    line-height: 44px;
    padding: 0 2.66vw;
    cursor: pointer;
    vertical-align: middle;
}

/**
 * Nav cart icon
 **/

.no-display {
    display: none;
}

.navbar-cart {
    position: relative;
    display: block;
    width: 11.46vw;
    min-height: 44px;
    line-height: 44px;
    float: right;
    padding: 0 3.46vw 0 2.66vw;
    vertical-align: middle;
}

.navbar-cart .num_of_items,
.navbar-favorites .number_of_favorites {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    margin-left:12px;
    background: #ee6552;
    color: #fff;
    font-size: 8px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    padding: 0;
}

.navbar-favorites {
    position: relative;
    display: block;
    float: left;
    width: 10.13vw;
    min-height: 44px;
    line-height: 44px;
    padding: 0 2.66vw;
    margin-left: 2.4vw;
    cursor: pointer;
    vertical-align: middle;
}