/**
 * 36. Favorites page #
 **/
.favorites-header {
    font: 600 16px Nobel;
    color: #5d5250;
    margin: 5px auto 13px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.favorites-spacer {}

.favorites_thumb_wrapper {}

.favorite_thumb {
    text-align: center;
    margin-bottom: 20px;
    max-width: 48vw;
    float: left;
    margin: 1vw !important;
    min-height: 76vw;
}

.fav_thumb_wrapper {
    margin: 0;
    background-color: #f9f7f4;
    padding: 0;
    width: 48vw;
    height: 48vw;
    position: relative;
}
.fav_thumb_wrapper div{
    display: block;
    height: 100%;
    width: 100%;
}
.fav_thumb_wrapper.fav-yardsign-thumb-wrapper,
.fav_thumb_wrapper.fav-banner-thumb-wrapper,
.fav_thumb_wrapper.fav-mask-thumb-wrapper{
    background-color: #f3efea;
}

.fav-coaster-thumb-wrapper {
    background-color: #ffffff;
}

.fav_thumb_wrapper a {
    position: relative;
    display: block;
    padding: 0;
}

.fav_thumb_wrapper img {
    max-width: 85%;
    /*max-height: 247px;*/
}
.fav_thumb_wrapper .horizontal img {
    max-width: 90%;
    /*height: fit-content;*/
}
.fav_thumb_wrapper .vertical img {
    max-height: 90%;
    width: auto;
}

.fav_thumb_wrapper .real_foil {
    z-index: 99;
}
.fav_thumb_wrapper .folded-overlay-portrait{
    height: 99%;
    bottom: 4px;
}
.fav-journal-thumb-wrapper,
.fav-ornament-thumb-wrapper,
.fav-stocking-thumb-wrapper,
.fav-gifttag-thumb-wrapper,
.fav-art-thumb-wrapper {
    background-color: #fff;
}

.fav_thumb_wrapper.fav-journal-thumb-wrapper a img,
.fav_thumb_wrapper.fav-ornament-thumb-wrapper a img,
.fav_thumb_wrapper.fav-stocking-thumb-wrapper a img,
.fav_thumb_wrapper.fav-gifttag-thumb-wrapper a img,
.fav_thumb_wrapper.fav-stamp-thumb-wrapper a img,
.fav_thumb_wrapper.fav-art-thumb-wrapper a img {
    height: fit-content;
    max-height: 100%;
    max-width: 100%;
    image-rendering: optimizequality;
    /*image-rendering: -webkit-optimize-contrast;*/
}

.favorite_thumb .thumb_description {
    margin-top: 10px;
    line-height: 2em;
}

.favorite_thumb .thumb_description h3,
.favorite_thumb .thumb_description a {
    font-size: 16px;
}

.remove-all-favorites {
    padding: 14px;
    font-size: 16px;
}

/* 36.1. favorite fold start */
#favorites_thumb_wrapper .fav_thumb_wrapper img.folded-thumb{
    -ms-transform: skewX(-2.5deg); /* IE 9 */
    -webkit-transform: skewX(-2.5deg); /* Safari */
    transform: skewX(-2.5deg);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 85%;
    max-height: 85%;
    margin: auto;
}

#favorites_thumb_wrapper .fav_thumb_wrapper .folded-overlay {
    background: url("//cdn1.simplytoimpress.com/images/Folded_Card_Thumb_Overlay_3.png") no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: 94%;
}

#favorites_thumb_wrapper .fav_thumb_wrapper a{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#favorites_thumb_wrapper .fav_thumb_wrapper img.folded-thumb-portrait{
    -ms-transform: skewY(2.5deg);
    -webkit-transform: skewY(2.5deg);
    transform: skewY(2.5deg);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    max-width: 85% !important;
    max-height: 85% !important;
    margin: 10% auto;

}
#favorites_thumb_wrapper .folded-overlay-portrait{
    width: 100%;
    height: 100%;
    background: url(//cdn.simplytoimpress.com/images/Folded_Card_Details_Portrait_Overlay_2.png) center center no-repeat;
    background-size: 68.8%;
    top: 0;
    bottom: unset;
}
/* 36.1.. favorite fold start */